-r requirements.txt
#homeassistant==2025.10.4
homeassistant==2026.3.0
#psychroLib==2.5.0
#pandas==2.2.3
#simple-pid
influxdb-client==1.24.0
holidays
#
pylint
pytest
pytest-asyncio
# pyright
# business-time
# flake8
# pylint
# pytest
# pytest-cov
# pytest-homeassistant-custom-component
ruff
# black
# mypy